-
  var proyects = [
    {
      title: "Hola",
      href: 'direccion',
      img: 'src/images/blog1.jpg'
    },
    {
      title: "Hola",
      href: 'direccion',
      img: 'src/images/blog2.jpg'
    },
    {
      title: "Hola",
      href: 'direccion',
      img: 'src/images/blog1.jpg'
    },
    {
      title: "Hola",
      href: 'direccion',
      img: 'src/images/blog2.jpg'
    },
  ]
  var menuItems = [
    {
      name: "Proyectos",
      href: 'direccion',
    },
    {
      name: "Contacto",
      href: 'direccion',
    },
    {
      name: "Idioma",
      href: 'direccion',
    },
    {
      name: "Acerca de mi",
      href: 'https://devacran.github.io/Personal-Portfolio/about.html',
    },
  ]
  
mixin carousel
  .carousel
    .carousel__container
      .carousel__overlay
      .carousel__strip.carousel__strip-small#carouselSmall
        each proyect in proyects
          div
            a(href=proyect.href)
              img(src=proyect.img alt=proyect.title)
    .carousel__central
      .carousel__strip#carouselBig
        each proyect in proyects
          div
            a(href=proyect.href)
              img(src=proyect.img alt=proyect.title)

mixin menu 
  ul
    each item in menuItems
      li
        a(href=item.href)=item.name
