-
  var proyects = [
    
    {
      title: "Movies Review Website",
      href: 'https://devacran.github.io/Movies-Reviews-Website/',
      img: '../images/pr/pr3.png',
      description: 'Project made with CSS grid and JS Vanilla'
    },
    {
      title: "Social Media Dashboard",
      href: 'https://devacran.github.io/Social-Media-Dashboard/',
      img: '../images/blog2.jpg',
      description: 'Responsive Dashboard made with Stylus and JS vanila'
    },
    {
      title: "Platzi Video",
      href: '#',
      img: '../images/pr/pr4.png',
      description: 'The platzi video webpage'

    },
    {
      title: "Product Webpage",
      href: '#',
      img: '../images/pr/pr6.png',
      description: 'Product Webpage with Paypal'

    },
    {
      title: "Drakamon",
      href: '#',
      img: '../images/pr/pr5.png',
      description: 'Responsive Design'

    },
    {
      title: "Sinaloa",
      href: '#',
      img: '../images/pr/pr2.jpg',
      description: 'Description'

    },
    {
      title: "See others",
      href: '#',
      img: '../images/pr/seemore.png',
      description: 'Go'

    },

  ]
  var menuItems = [
    {
      name: "Projects",
      href: '#projects',
    },
    {
      name: "Contact",
      href: '#',
    },
    {
      name: "Resources",
      href: '#',
    },
    {
      name: "About",
      href: '#/about',
    },
    {
      name: "Language",
      href: '#',
    },


  ]
  
  var skills = [
    {
      name: "Javascript",
      img: '../images/javascript1.png',
    },
    {
      name: "React",
      img: '../images/react.png',
    },
    {
      name: "Vue.js",
      img: '../images/vue1.png',
    },
    {
      name: "HTML",
      img: '../images/html5.png',
    },
    {
      name: "Webpack",
      img: '../images/webpack.png',
    },
    {
      name: "GitHUB",
      img: '../images/github.png',
    },
    {
      name: "CSS",
      img: '../images/css.png',
    },
    {
      name: "Stylus",
      img: '../images/stylus.png',
    },
    {
      name: "Sass",
      img: '../images/sass1.png',
    },

  ]
  

mixin carousel
  .carousel
    a#projectLink(target='_blank' href='#').portfolio__project-description.tanga
      div#projectDescription Responsive Dashboard made with Stylus and JS vanila
    .carousel__container
      .carousel__overlay
      .carousel__strip.carousel__strip-small#carouselSmall
        each proyect in proyects
          div
            a(href=proyect.href)
              img(src=proyect.img alt=proyect.title)
    .carousel__central
      .carousel__strip.carousel__strip-big#carouselBig
        each proyect in proyects
          div&attributes({'class': 'carousel__project','name': proyect.title, 'description': proyect.description, 'link': proyect.href })
            a(target="_blank" href=proyect.href)
              img(src=proyect.img alt=proyect.title)
    span
      button()#backward.portfolio__button.portfolio__button--left
        img(src='../images/left.png')
    span
      button()#forward.portfolio__button.portfolio__button--right
        img(src='../images/right.png')


mixin menu 
  ul.navbar__center
    each item in menuItems
      li
        a(href=item.href)=item.name
